@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --clr-neon: #04d9ff;
  --clr-txt: violet;
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    var(--clr-neon) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.topic-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.topic-container .topic-card:last-child {
  margin-right: 0px;
}

.topic-card {
  background: transparent;
}

.topic-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(110px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(300px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(430px);
}

.animated-list{
  position: relative;
  display: flex;
}

.animated-list li div{
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid var(--clr-neon);
  /* background: var(--clr-neon); */
  padding: 2px 1px;
  border-radius: 2px;
  margin: 0 10px;
  transition: .5s;
  text-shadow: 0 0 0.2em rgba(255,255,255,0.363), 0 0 1em var(--clr-neon);
  box-shadow: inset 0 0 .4em 0 var(--clr-neon), 0 0 .5em 0 var(--clr-neon);
}

.animated-list li div::before{
  content: '';
  position: absolute;
  background: linear-gradient(90deg, var(--clr-neon) 50%, var(--clr-txt) 50%);
  top: 100%;
  left: 0;
  height: 50%;
  width: 100%;
  transform: perspective(1em) rotateX(45deg) scale(1.1,.5);
  filter: blur(1em);
  opacity: .7;
}

.animated-list li div::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 1em .5em var(--clr-neon);
  opacity: 0;
}

.animated-list li div:hover,
.animated-list li div:focus{
  background: var(--clr-neon);
  text-shadow:none;
  transition: all .1s ease-in;
}

.animated-list li div:hover::after,
.animated-list li div:focus::after{
  opacity: 1;
}

.animated-list div span{
  position: absolute;
  transition: transform .5s;
}

.animated-list li span:nth-child(1),
.animated-list li span:nth-child(3){
  width: 100%;
  height: 2px;
  background: #128cc5;
  box-shadow: 2px 10px 10px var(--clr-neon);
}

.animated-list li span:nth-child(1){
  top: 0;
  left: 0;
  transform-origin: right;
}

.animated-list div:hover span:nth-child(1){
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}

.animated-list li span:nth-child(3){
  bottom: 0;
  left: 0;
  transform-origin: left;
}

.animated-list li:hover span:nth-child(3){
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}

.animated-list li span:nth-child(2),
.animated-list li span:nth-child(4){
  width: 2px;
  height: 100%;
  background: #128cc5;
  box-shadow: 2px 15px 8px var(--clr-neon);
}

.animated-list li span:nth-child(2){
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: bottom;
}

.animated-list div:hover span:nth-child(2){
  transform: scale(1);
  transform-origin: top;
  transition: transform .5s;
}

.animated-list li span:nth-child(4){
  top: 0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}

.animated-list div:hover span:nth-child(4){
  transform: scale(1);
  transform-origin: bottom;
  transition: transform .5s;
}

.svg-color{
  z-index: 2;
  filter: invert(61%) sepia(27%) saturate(1581%) hue-rotate(149deg) brightness(104%) contrast(104%);
}
